@page
@model DoctoLib.Pages.Doctors.ListModel
@{
    ViewData["Title"] = "List";
}

<h1>@Model.Message</h1>
<form method="get">
	<div class="form-group">
		<div class="input-group">
			<input type="search" class="form-control" asp-for="SearchTerm" />
			<div class="input-group-append">
				<button class="btn btn-secondary">
					<i class="fa fa-search"></i>
				</button>
			</div>
		</div>
	</div>
</form>

<table class="table">
	@foreach(var doctor in Model.Doctors)
	{
	<tr>
		<td>@doctor.Name</td>
		<td>@doctor.Location</td>
		<td>@doctor.Type</td>
		<td>
			<a class="btn btn-lg" asp-page="./Detail" asp-route-doctorId="@doctor.Id">
				<i class="fa fa-search-plus"></i>
			</a>
		</td>
		<td>
			<a class="btn btn-lg" asp-page="./Edit" asp-route-doctorId="@doctor.Id">
				<i class="fa fa-pencil"></i>
			</a>
		</td>

	</tr>
	}
</table>

<a class="btn btn-primary" asp-page="./Edit">New Doctor</a>

